{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if error %}
<p><strong>{{error}}</strong></p>
{% endif %}
<form action="/signup" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="country">Select country</label>
    <select name="county" id="county" >
        <option></option>
    </select>
    <label for="capital">Select capital</label>
    <select name="capitaly" id="capitaly" ></select>
    <input type="submit" value="submit">
</form>
<br>
Already have an account?<a href="/login"> Log in</a>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    "use strict";

    var countt = {{ countt|tojson }};

    var form=  $('form');
    var county = $('select#county');
    var capitaly = $('select#capitaly');

    for (var key in countt) {
        county.append($('<option/>', {'value': key, 'text': key}));
    }

    county.change(function(ev) {
        capitaly.empty();
        capitaly.append($('<option/>'));

        var capital = countt[county.val()];

        for (var i in capital) {
            capitaly.append($('<option/>', {'value': capital[i], 'text': capital[i]}));
        }
    });

<!--    form.submit(function(ev) {-->
<!--        ev.preventDefault();-->
<!--        alert("playing " + capitaly.val() + " on " + county.val());-->
<!--    });-->
</script>
<!--{% for country in country %}-->
<!--{{country}}-->
<!--{% endfor %}-->
{% endblock %}